.scroll-down-button {
  position: fixed;
  bottom: 3.5rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #f06d06, #fb4c40);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  .arrow-icon {
    width: 24px;
    height: 24px;
  }
}
